body{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent \9; /* ie fallback png background image */
    z-index: 1;
    color: white;
    font-size: 30px;
}

.overlay-content {
    text-align: center;
}

.playerSelectContainer{
    display: inline-block;
    height: 60%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Players on Board*/
.player1 {
    background-color: black;
    display: inline-block;
    width: 25%;
    height: 25%;
}

/*Board Game Selectors*/
.board-game-container{
    display: flex;
    background-color: red;
    height: 100%;
    width: 60%;
    padding: 0;

}

.left-column-container, .right-column-container{
    height: 100%;
    width: 20%;
    background-color: pink;
}

.middle-section-container{
    height: 100%;
    width: 60%;
    background-color: green;

}

.top-row, .bottom-row{
    background-color: blue;
    height: 20%;
}

.board{
    background-image: url("monopoly_images/board_images/centerGameImage.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 60%;
    background-color: purple;
    text-align: center;
}

.small-square{
    height: 6%;
    border: black solid 1px;
}

.large-square{
    height: 20%;
    border: black solid 1px;
}

.top-row{
    display: flex;
}

.bottom-row{
    display: flex;
}

.top-row > .small-square, .bottom-row > .small-square{
    width: 10%;
    height: 100%;
    flex-flow: row wrap;
}


/*________________________________Stats Container Selectors____________________________________*/
.stats-container{
    height: 100%;
    width: 40%;
    text-align: center;
}

#player-container{
    height: 30%;
    width: 100%;
}


/*player effects*/
.player1, .player2 .player3, .player4{
    background: url() no-repeat;
    width:100px;
    height:100px;

}

/*Player Stats*/
#player-stats{
    font-size:1.5rem;
    font-family: 'Alegreya Sans', sans-serif;
    /*position: relative;*/
    /*left: 78%;*/
    /*top: 57px;*/
}

.player2, .player3, .player4 {
    display: none;
}

#player1Img, #player2Img, #player4Img, #player4Img{
    width: 50px;
    height: 55px;
    border-radius: 50%;
    position: inline-block;
}


.indiv-players{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}



/*Game Button*/

.stats-button-container{
    height: 60%;
    width: 80%;
}




/*card effects*/
#community-card-deck{
    display: inline;
}

.active{
    display:none
}

/*modal effect*/

#property-title, .character-title-name{
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#property-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 19px; 
    transform: translate(-50%, -50%);
    height: 342px;
    width: 291px;
    background-color: white;
    z-index: 2;
    border: black solid 3px;
}
.modal-hide{
    display: none;
}

.title-name-container, .character-name-container {
    height: 60%;
    width: 95%;
    border: 2px solid black;
    margin: auto;

}

/*Player Modal Stats*/
.modal-character-content{
    position: fixed;
    left: 79%;
    top: 96%;
    font-size: 19px;
    transform: translate(-50%, -50%);
    height: 233px;
    width: 245px;
    background-color: white;
    z-index: 2;
    border: black solid 3px;
}









/* Player Token*/

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#myDice2, #myDice1{
    height:80%;
    display:inline-block;
}
#dice-roll{
    height: 50%;
}
.button-container{
    position:relative;
    top:5%;
    display: block;


}

.chance-card-deck-spot{
    height: 20%;
    width: 40%;
    background-color: #2b542c;
}

.chest-card-deck-spot{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 40%;
    background-color: #2b542c;
}

.chance-card-deck-spot > img, .chest-card-deck-spot > img{
    height: 100%;
    width: 100%;

}

.small-square > img, .large-square > img{
     height: 100%;
     width: 100%;
 }
